.popUp {
  width: 18rem;
  border-radius: 10px;
  background-color: #fab005;
  padding: 1rem;
  align-self: flex-start;
}
.popUp h3 {
  color: #495057;
  font-size: 28px;
}
.popUp h4 {
  padding: 1rem 0 0.5rem 0;
  font-size: 14px;
  font-weight: 600;
}
.popUp input {
  width: 17.5rem;
  height: 2.5rem;
  font-size: 20px;
}
.popUp form {
  line-height: 2rem;
  padding: 0 1rem;
  font-size: 14px;
  color: #495057;
}
.popUp label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popUp label input {
  width: 3rem;
  height: 1.25rem;
}

.popUp button {
  margin-top: 2rem;
  width: 18rem;
  height: 2.5rem;
  font-size: 18px;
  background-color: #228be6;
  color: aliceblue;
  border: none;
}
